/* Estilo para elemento aside*/
.textolateral {
  margin-top: -300px;
  width: 30%;
  margin-right: 30px;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

/* Estilos para Encabezado y Logo */
.logoheader {
  display: flex;
  padding-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #e48407;
}

/* Estilos para barra de navegación */
nav{
    background-color: #e48407;
}

.navigationbar ul {
  list-style-type: none;
  display: flex;
}

li.navigationlist a, .dropbutton {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationbar li a:hover, .dropdown:hover .dropbutton {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos para cuerpos */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}

body#destinos {
  background-color: beige;
}

article {
  margin: 10px;
}

.slogan {
  text-align: center;
  margin: 10px;
}

/* Estilos de encabezados */
h1 {
  text-align: center;
  margin: 15px;
}

h2 {
  margin: 15px;
  color: rgb(39, 51, 214);
}

h3 {
  margin: 13px;
}

h4 {
  margin: 18px;
}

h5 {
  margin: 22px;
}

p {
  margin: 20px;
}

/* Estilos para pie de pagina */
footer {
  margin: 200px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.footer .social-media {
  margin-top: 10px;
}

.footer .social-media a {
  margin: 0 10px;
}

/* Estilos para tablas */
table, th, td {
  border: 2px, solid, crimson;
  margin: 30px;
  padding: 3px;
  text-align: center;
}

th {
  background-color: rgb(25, 230, 59);
}

caption {
  color: rgb(255, 255, 255);
  background-color: cornflowerblue;
  font-size: larger;
}

/* Estilos para Secciones en el index */
section#nosotros {
  border: 1px, solid, yellow;
  margin: 50px;
  background-color: rgb(238, 238, 161);
}

section#Internacional {
  border: 1px, solid, green;
  margin: 50px;
  background-color: rgb(148, 247, 214);
}

section#nacionales {
  border: 1px, solid, rgb(243, 6, 204);
  margin: 50px;
  background-color: rgb(215, 176, 235);
}

/* Estilos para div en Pagina Destinos */

div#Paris {
  border: 2px, solid, black;
  background-image: url(media/paris.jpg);
  background-position: right;
  background-size: 400px;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Paris p{
  margin-right: 400px;
}

div#Roma {
  border: 2px, solid, black;
  background-image: url(media/roma.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Roma p{
  margin-right: 400px;
}

div#Atenas {
  border: 2px, solid, black;
  background-image: url(media/atenas.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Atenas p{
  margin-right: 400px;
}

div#Praga {
  border: 2px, solid, black;
  background-image: url(media/praga.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Praga p{
  margin-right: 400px;
}

div#Londres {
  border: 2px, solid, black;
  background-image: url(media/londres.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Londres p{
  margin-right: 400px;
}

div#NewYork {
  border: 2px, solid, black;
  background-image: url(media/newyork.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#NewYork p{
  margin-right: 400px;
}

div#Cancun {
  border: 2px, solid, black;
  background-image: url(media/cancun.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Cancun p{
  margin-right: 400px;
}

div#Rio {
  border: 2px, solid, black;
  background-image: url(media/rio.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Rio p{
  margin-right: 400px;
}

div#BuenosAires {
  border: 2px, solid, black;
  background-image: url(media/buenosaires.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#BuenosAires p{
  margin-right: 400px;
}

div#Toronto {
  border: 2px, solid, black;
  background-image: url(media/toronto.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Toronto p{
  margin-right: 400px;
}

div#Tokio {
  border: 2px, solid, black;
  background-image: url(media/tokio.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Tokio p{
  margin-right: 400px;
}

div#Bali {
  border: 2px, solid, black;
  background-image: url(media/bali.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Bali p{
  margin-right: 400px;
}

div#Bangkok {
  border: 2px, solid, black;
  background-image: url(media/bangkok.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Bangkok p{
  margin-right: 400px;
}

div#Seul {
  border: 2px, solid, black;
  background-image: url(media/seul.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Seul p{
  margin-right: 400px;
}

div#Kioto {
  border: 2px, solid, black;
  background-image: url(media/kioto.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Kioto p{
  margin-right: 400px;
}

div#Barcelona {
  border: 2px, solid, black;
  background-image: url(media/barcelona.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Barcelona p{
  margin-right: 400px;
}

div#Madrid {
  border: 2px, solid, black;
  background-image: url(media/madrid.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Madrid p{
  margin-right: 400px;
}

div#Mallorca {
  border: 2px, solid, black;
  background-image: url(media/mallorca.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Mallorca p{
  margin-right: 400px;
}

div#Tenerife {
  border: 2px, solid, black;
  background-image: url(media/tenerife.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Tenerife p{
  margin-right: 400px;
}

div#Sevilla {
  border: 2px, solid, black;
  background-image: url(media/sevilla.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
  
}
div#Sevilla p{
  margin-right: 400px;
}

div#Malaga {
  border: 2px, solid, black;
  background-image: url(media/malaga.jpg);
  background-size: 400px;
  background-position: right;
  width: 1000px;
  background-repeat: no-repeat;
}
div#Malaga p{
  margin-right: 400px;
}

/* Estilos Pagina formulario */
body#formulario1 {
  background-color: beige;
}

.myform {
  align-items: center;
  border-style: ridge;
  border-radius: 15px;
  margin: 100px;
  padding: 50px;
  background-color: bisque;
}

.myform h2 {
  text-align: center;
}

input[type=text], input[type=email], input[type=number] {
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
}

input[type=date], select, input[type=tel], textarea {
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
}